{% extends "admin/layout.twig" %}
{% block html_title %}Administração - {{ parent() }}{% endblock %}
{% set nav_active = 'attendances' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="active">Início</li>
</ol>
{% endblock %}

{% block content %}

<div class="main">
  <div class="">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <a class="btn btn-success" href="{{ base_url() }}/admin/attendances/add">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo Atendimento
        </a>
      </div>
      <div class="col-sm-9">
        <div class="card">
          <div class="card-header" data-background-color="purple">
            Busca
          </div>
          <div class="card-content">
            <div class="col-sm-2">
              <div class="form-group">
                <label for="id">ID</label>
                <input id="id" type="text" name="id" class="form-control">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="patient_name">Nome Paciente</label>
                <input id="patient_name" type="text" name="patient_name" class="form-control">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="professional_name">Nome Profissional</label>
                <input id="professional_name" type="text" name="professional_name" class="form-control">
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">

                <button class="btn btn-info">Buscar</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" data-background-color="blue">
      <div class="row">
        <div class="col-sm-8">
          <h4>Últimos Atendimentos</h4>
        </div>
        <div class="col-sm-4">
          <p class="pull-right">

          </p>
        </div>
      </div>

    </div>
    <div class="card-content">
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-striped data-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Profissional</th>
                <th>Paciente</th>
                <th class="th-button"></th>

              </tr>
            </thead>

            <tbody>
              {% for attendance in attendances %}
                <tr>
                  <td>{{ attendance.id }}</td>
                  <td>{{ attendance.date }}</td>
                  <td>{{ attendance.professional_name }}</td>
                  <td>{{ attendance.patient_name }}</td>
                  <td style="width:80px"><a class="btn btn-info" href="{{ base_url() }}/admin/attendances/{{ attendance.id }}">
                    Detalhes
                  </a></td>

                </tr>
              {% else %}
                <div class="alert alert-danger" role="alert">Não existem Atendimentos cadastrados</div>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
