{% extends "admin/layout.twig" %}
{% block html_title %}Atendimentos - Administração - {{ parent() }}{% endblock %}
{% set nav_active = 'attendances' %}
{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ base_url() }}/admin">Início</a></li>
  <li><a href="{{ base_url() }}/admin/attendances">Atendimentos</a></li>
  <li class="active">{{ attendance.id }}</li>
</ol>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-10">
    <div class="card">
  <div class="card-header" data-background-color="blue">
    <div class="row">
      <div class="col-xs-12 ">
        <h3>Atendimento</h3>
      </div>
    </div>
  </div>
  <div class="card-content">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label>ID</label>
              <div>{{ attendance.id }}</div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label>Data:</label>
              <input class="form-control" type="datetime" name="date" value="{{ attendance.date }}">
            </div>
          </div>
          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label>Hora:</label>
              <input class="form-control" type="time" name="time" value="{{ attendance.time }}">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="selectDisease">Paciente</label>
              <div>{{ attendance.name_patient }}</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="selectDisease">Profissional</label>
              <div>{{ attendance.name_professional }}</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label>Observações:</label>
              <textarea rows="8" class="form-control" id="description" name="description">{{ attendance.description }}</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>

{% endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

<script src="{{ base_url() }}/js/jquery.mask.js"></script>

<script type="text/javascript">

$('#inputCpf').mask('000.000.000-00', {reverse: true});
$('#inputCep').mask('00000-000');
</script>

<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
  var description = new SimpleMDE({
    element: $("#description")[0],
    spellChecker: false,
    status: false,
    toolbar: false,

  });
</script>

{% endblock %}
