{% extends "admin/layout.twig" %}
{% block html_title %}Profissionais - Administração - {{ parent() }}{% endblock %}
{% set nav_active = 'professionals' %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ base_url() }}/admin">Início</a></li>
  <li><a href="{{ base_url() }}/admin/profissionals">Profissionais</a></li>
  <li class="active">Edit</li>
  <li >{{ profissional.name }}</li>
</ol>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-10">
    <div class="card">
  <div class="card-header" data-background-color="blue">
    <div class="row">
      <div class="col-xs-12 ">
        <h3>Editar Profissional</h3>
      </div>
    </div>
  </div>
  <div class="card-content">
    <div class="row">
      <div class="col-md-12">
        <form role="form" data-toggle="validator" action="{{ base_url() }}/admin/professionals/update" method="POST">

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input type="hidden" name="id" value="{{ professional.id }}">
                <input type="hidden" name="id_user" value="{{ professional.id_user }}">
                <label for="inputName">Nome</label>
                <input type="text" class="form-control" id="inputName" name="name" placeholder="" value="{{ professional.name }}" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="hidden" id="emailOriginal" name="" value="{{ professional.email }}" >
                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="" value="{{ professional.email }}" required>
                <p id="email-error" style="color:red;"></p>
                <script type="text/javascript">
                  $('#inputEmail').change(function(){
                    if ($(this).val() == $('#emailOriginal').val()) {
                      $('#email-error').css('color', 'green');
                      $('#email-error').html('email liberado para cadastro.');
                    } else {
                      if ($(this).parent().hasClass('has-error')) {

                        $('#email-error').css('color', 'red');
                        $('#email-error').html('Utilize um email válido.');
                      } else {
                        //var data = "{email: "++"}";
                        $.ajax({
                          url:'{{ base_url() }}/admin/professionals/verifyUserByEmail',
                          type: "POST",
                          data: {email: $('#inputEmail').val()},
                          success: function (data) {
                            console.log(data);

                            if (data == "true") {

                              $('#email-error').css('color', 'red');
                              $('#email-error').html('o email já está cadastrado.');
                            } else if (data == "false") {

                              $('#email-error').css('color', 'green');
                              $('#email-error').html('email liberado para cadastro.');
                            }
                          },
                          error: function (data) {
                            console.error(data);
                          }

                        });
                      }
                    }

                  });
                </script>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 form-group">
              <label for="inputNascimento">Data de nascimento</label>
              <input type="date" class="form-control" id="inputNascimento" name="nascimento" value="{{ professional.nascimento }}">
            </div>
            <div class="col-sm-3 form-group">
              <label for="inputCpf">CPF</label>
              <input type="text" class="form-control" id="inputCpf" name="cpf" placeholder="" value="{{ professional.cpf }}" title="Número do CPF com pontos e traço">
            </div>
            <div class="col-sm-2 ">
              <div class="form-group">
                <label for="inputTelArea">DDD</label>
                <input type="number" class="form-control" id="inputTelArea" name="tel_area" value="{{ professional.tel_area }}" placeholder="">
              </div>
            </div>
            <div class=" col-sm-4 form-group">
              <label for="inputTelefone">Telefone</label>
              <input type="number" class="form-control" id="inputTelefone" name="tel_numero" value="{{ professional.tel_numero }}" placeholder="">
            </div>
          </div>
          <div class="row">


          </div>
          <div class="row">
            <div class="col-sm-2">
              <div class="form-group">
                <label for="inputCep">CEP</label>
                <input type="text" class="form-control" id="inputCep" name="end_cep" placeholder="" pattern="^([0-9]){5}-([0-9]){3}$" value="{{ professional.end_cep }}" title="Código do CEP com traço">
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-group">
                <label for="inputRua">Rua</label>
                <input type="text" class="form-control" id="inputRua" name="end_rua" placeholder="" value="{{ professional.end_rua }}">
              </div>
            </div>
            <div class="col-sm-1">
              <div class="form-group">
                <label for="inputNumero">Número</label>
                <input type="text" class="form-control" id="inputNumero" name="end_numero" placeholder="" value="{{ professional.end_numero }}">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="inputComplemento">Complemento</label>
                <input type="text" class="form-control" id="inputComplemento" name="end_complemento" placeholder="" value="{{ professional.end_complemento }}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="inputBairro">Bairro</label>
                <input type="text" class="form-control" id="inputBairro" name="end_bairro" placeholder="" value="{{ professional.end_bairro }}">
              </div>
            </div>
            <div class="col-sm-5 form-group">
              <label for="inputCidade">Cidade</label>
              <input type="text" class="form-control" id="inputCidade" name="end_cidade" value="{{ professional.end_cidade }}" placeholder="">
            </div>
            <div class="col-sm-3 form-group">
              <label for="selectEstado">Estado</label>
              <select class="form-control" id="selectEstado" name="end_estado" value="{{ professional.end_estado }}">

                <option value="AC" {% if professional.end_estado == 'AC' %} selected {% endif %}>Acre</option>
                <option value="AL" {% if professional.end_estado == 'AL' %} selected {% endif %}>Alagoas</option>
                <option value="AP" {% if professional.end_estado == 'AP' %} selected {% endif %}>Amapá</option>
                <option value="AM" {% if professional.end_estado == 'AM' %} selected {% endif %}>Amazonas</option>
                <option value="BA" {% if professional.end_estado == 'BA' %} selected {% endif %}>Bahia</option>
                <option value="CE" {% if professional.end_estado == 'CE' %} selected {% endif %}>Ceará</option>
                <option value="DF" {% if professional.end_estado == 'DF' %} selected {% endif %}>Distrito Federal</option>
                <option value="ES" {% if professional.end_estado == 'ES' %} selected {% endif %}>Espírito Santo</option>
                <option value="GO" {% if professional.end_estado == 'GO' %} selected {% endif %}>Goiás</option>
                <option value="MA" {% if professional.end_estado == 'MA' %} selected {% endif %}>Maranhão</option>
                <option value="MT" {% if professional.end_estado == 'MT' %} selected {% endif %}>Mato Grosso</option>
                <option value="MS" {% if professional.end_estado == 'MS' %} selected {% endif %}>Mato Grosso do Sul</option>
                <option value="MG" {% if professional.end_estado == 'MG' %} selected {% endif %}>Minas Gerais</option>
                <option value="PA" {% if professional.end_estado == 'PA' %} selected {% endif %}>Pará</option>
                <option value="PB" {% if professional.end_estado == 'PB' %} selected {% endif %}>Paraíba</option>
                <option value="PR" {% if professional.end_estado == 'PR' %} selected {% endif %}>Paraná</option>
                <option value="PE" {% if professional.end_estado == 'PE' %} selected {% endif %}>Pernambuco</option>
                <option value="PI" {% if professional.end_estado == 'PI' %} selected {% endif %}>Piauí</option>
                <option value="RJ" {% if professional.end_estado == 'RJ' %} selected {% endif %}>Rio de Janeiro</option>
                <option value="RN" {% if professional.end_estado == 'RN' %} selected {% endif %}>Rio Grande do Norte</option>
                <option value="RS" {% if professional.end_estado == 'RS' %} selected {% endif %}>Rio Grande do Sul</option>
                <option value="RO" {% if professional.end_estado == 'RO' %} selected {% endif %}>Rondônia</option>
                <option value="RR" {% if professional.end_estado == 'RR' %} selected {% endif %}>Roraima</option>
                <option value="SC" {% if professional.end_estado == 'SC' %} selected {% endif %}>Santa Catarina</option>
                <option value="SP" {% if professional.end_estado == 'SP' %} selected {% endif %}>São Paulo</option>
                <option value="SE" {% if professional.end_estado == 'SE' %} selected {% endif %}>Sergipe</option>
                <option value="TO" {% if professional.end_estado == 'TO' %} selected {% endif %}>Tocantins</option>
              </select>
            </div>
          </div>


          <div class="row">


          </div>
          <div class="form-group">
            <label for="selectDisease">Cargo Profissional</label>
            <select class="form-control" id="selectDisease" name="id_professional_type">
              {% for professional_type in professional_types %}
                {% if professional_type.id == professional.id_professional_type %}
                  <option value="{{ professional_type.id }}" selected>{{ professional_type.name }}</option>
                {% else %}
                  <option value="{{ professional_type.id }}">{{ professional_type.name }}</option>
                {% endif %}

              {% endfor %}
            </select>
          </div>

          <button type="submit" class="btn btn-success">Editar</button>
        </form>
      </div>
    </div>
  </div>
</div>
  </div>
</div>



{% endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

<script src="{{ base_url() }}/js/jquery.mask.js"></script>


<script type="text/javascript">

$('#inputCpf').mask('000.000.000-00', {reverse: true});
$('#inputCep').mask('00000-000');
</script>

{% endblock %}
