{% extends "admin/layout.twig" %}
{% block html_title %} - Administração - {{ parent() }}{% endblock %}
{% set nav_active = 'remessa_saida' %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ base_url() }}/admin">Início</a></li>
  <li><a href="{{ base_url() }}/admin/remessa_saida">Remessa de Saída</a></li>
  <li class="active">{{ remessa.id }}</li>
</ol>
{% endblock %}
{% block content %}



<div class="row">
  <div class="col-md-12">
    <form role="form" data-toggle="validator" action="{{ base_url() }}/admin/remessa_saida/update" method="POST">
      <input type="hidden" name="id" value="{{ remessa.id }}">
    <ul class="list-group">
      <li class="list-group-item">Tipo de Saída: <strong>
      <select id="selectRemessaType" name="remessa_type">
         {% for remessaType in remessaTypes %}
          {% if remessa.remessaTypes == remessaType.id %}
            <option value="{{ remessaType.id }}" selected>{{ remessaType.name }}
            </option>
          {% else %}
            <option value="{{ remessaType.id }}">{{ remessaType.name }}
            </option>
          {% endif %}
         {% endfor %}
       </select>
     </strong></li>
      <li class="list-group-item">Paciente: <strong>
        <select id="selectPatient" name="patient_id">
            {% for patient in patients %}
              {% if patient.id == remessa.patient_id %}
                <option value="{{ patient.id }}" selected>{{ patient.user_name }}
                </option>
              {% else %}
                <option value="{{ patient.id }}">{{ patient.user_name }}
                </option>
              {% endif %}
            {% endfor %}
        </select>
     </strong></li>
      <li class="list-group-item">Data de Entrada: <strong>{{ remessa.date|date('d/m/Y') }}</strong></li>
      
    </ul>

<div class="main">
  <div class="card">
    <div class="card-content">
      <div class="row">
        <div class="col-xs-12">
          <h4>Lista de Produtos</h4>
          <table class="table table-striped data-table">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Código Patrimonial</th>
              </tr>
            </thead>
            <tbody>
              {% for product_remessa in products_remessa %}
                <tr>
                  <td>{{ product_remessa.name_product }}</td>
                  <td>{{ product_remessa.quantity }}</td>
                  <td>{{ product_remessa.patrimony_code}} </td>
                  
                
              
               
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </ul>
  </div>


<button type="submit" class="btn btn-primary">Atualizar</button>
      </form>

 
</div>

{% endblock %}
