{% extends "admin/layout.twig" %}
{% block html_title %}Administração - {{ parent() }}{% endblock %}
{% set nav_active = 'patients' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="active">Início</li>
</ol>
{% endblock %}

{% block content %}

<div class="main">
  <div class="row">
      <div class="col-md-2 col-lg-4">
        <a class="btn btn-success" href="{{ base_url() }}/admin/patients/add">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo Paciente
        </a>
      </div>
      <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading" style="">
            <div class="row">
              <div class="col-md-2 col-lg-4">
                Opções
              </div>
              <div class="col-md-10 col-lg-8">
                <a class="btn btn-primary btn-sm pull-right" href="" style="margin:0px" id="search_btn">
                  <i class="material-icons" >search</i>
                </a>
                <a class="btn btn-default btn-sm " id="patients_download" name="patients_download" style="margin:0px 5px" href="{{ base_url() }}/admin/patients/export" target="_blank">
                  <input type="hidden" name="" value="{{ base_url() }}" id="base_url_hidden">
                  Relatório PDF
                </a>
                <a class="btn btn-default btn-sm " id="patients_download_xlsx" name="patients_download_xlsx" style="margin:0px 5px;" onclick="exportXlsx()" target="_blank">
                  {# <input type="hidden" name="" value="{{ base_url() }}" id="base_url_hidden"> #}
                  Relatório XLSX
                </a>
              </div>
            </div>
          </div>
          
          <div class="panel-body" style="padding-top:5px;">
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <div class="form-group"> 
                  <label for="search">Buscar Nome</label>
                  <input type="search" id="search" name="search" style="border-radius: 5px; color: #444; width: 100%" value="{{ search }}">
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="form-group">
                  <label for="patient_name">Data Inicial</label>
                  <input id="patients_start" class="form-control" type="date" name="patients_start" {% if start != '2000-01-01' %} value="{{ start }}" {% endif %} required>
                </div>
              </div>
              
              <div class="col-md-6 col-lg-3">
                <div class="form-group">
                  <label for="patient_name">Data Final</label>
                  <input id="patients_finish" class="form-control" type="date" name="patients_finish" value="{{ finish }}"  required>
                </div>
              </div>
              
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-3 ">
                <div class="form-group" style="margin-top:0px">
                  <label for="id" >Ordernar Por:</label>
                  <div>
                    <select name="order" id="order" style="padding: 0px 10px">
                      <option value="1" {% if order == 1 %} selected {% endif %}>Data de Cadastro</option>
                      <option value="2" {% if order == 2 %} selected {% endif %}>Nome do Paciente</option>
                      <option value="3" {% if order == 3 %} selected {% endif %}>Situação do Paciente</option>
                      
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="form-group" style="margin-top:0px">
                  <label for="id">Status Paciente</label>
                  <div>
                    <select name="patients_status" id="patients_status" style="padding: 0px 10px">
                      <option value="0">Todos</option>
                      {% for status in patient_status %}
                        <option value="{{ status.id }}" {% if status_param == status.id %} selected {% endif %}>{{ status.name }}</option>

                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
            </div>
              
            
            
          </div>
        </div>

      </div>
    </div>
  <div class="panel panel-default">
    <div class="panel-heading" >
      <div class="row">
        <div class="col-sm-7">
          <p  class="panel-title">Pacientes Cadastrados</p>
        </div>
        {# <div class="col-sm-5"> 
          Buscar Nome
          <input type="search" id="search" name="search" style="border-radius: 5px; color: #444" value="{{ search }}">
            <a class="btn btn-primary" href="" id="search_btn">
              <i class="material-icons" >search</i>
            </a>
        </div> #}
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-striped data-table" style="border-collapse:separate">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>CID Versão</th>
                <th>CID COD</th>
                <th>Cidade</th>
                <th class="th-button"></th>
                <th class="th-button"></th>
                <th class="th-button"></th>
              </tr>
            </thead>
            <tbody>
              {% for patient in patients %}
                <tr>
                  <td>{{ patient.name }}</td>
                  <td>{{ patient.email }}</td>
                  <td>{{ patient.disease_cid_version }}</td>
                  <td>{{ patient.disease_cid_code }}</td>
                  <td>{{ patient.end_cidade }}</td>
                  <td>{{ patient.status }}</td>
                  <td style="width:100px"><a class="btn btn-sm btn-info" style="margin:0px;" href="{{ base_url() }}/admin/patients/history/{{ patient.id }}">
                    Histórico
                  </a></td>
                  <td style="width:50px"><a class="btn btn-sm btn-default" style="margin:0px; padding: 5px 15px" href="{{ base_url() }}/admin/patients/edit/{{ patient.id }}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                  </a></td>
                  <td style="width:50px"><a class="btn btn-sm btn-default" style="margin:0px; padding: 5px 15px" href="{{ base_url() }}/admin/patients/export/{{ patient.id }}">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                  </a></td>
                 {# <td style="width:100px"><a class="btn btn-danger" href="{{ base_url() }}/admin/patients/remove/{{ patient.id }}">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  </a></td>
                </tr>#}
              {% else %}
                <div class="alert alert-danger" role="alert">Não existem pacientes cadastrados</div>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <ul class="pager">
            <li{% if page == 1 %} class="disabled"{% endif %}>
              <a{% if page > 1 %} href="{{ base_url() }}/admin/patients?search={{ search }}&patients_start={{ start }}&patients_finish={{ finish }}&patients_status={{ status_param }}&ordem={{ order }}&page={{ page - 1 }}"{% endif %}>Anterior</a>
            </li>
            <li{% if page >= amountPages %} class="disabled"{% endif %}>
              <a{% if page < amountPages %} href="{{ base_url() }}/admin/patients?search={{ search }}&patients_start={{ start }}&patients_finish={{ finish }}&patients_status={{ status_param }}&ordem={{ order }}&page={{ page + 1 }}"{% endif %}>Próximo</a>
            </li>
          </ul>
        </div>
      </div>


    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}


  <script type="text/javascript">
    $("#patients_download").click(function(){
        // console.log('teste');
      var search = $('#search').val();
      var patients_start = $('#patients_start').val();
      var patients_finish = $('#patients_finish').val();
      var base_url_hidden = $('#base_url_hidden').val();
      var patients_status = $('#patients_status').val();
      var ordem = $('#order').val();
        
      console.log($('#patients_download').attr('href'));
      $("#patients_download").attr('href',   base_url_hidden +'/admin/patients/export?search=' + search +'&patients_start=' + patients_start + '&patients_finish=' + patients_finish + '&patients_status=' + patients_status + '&ordem=' + ordem);
    });

    //$("#patients_download_xlsx").click(function(){
        // console.log('teste');
    function exportXlsx() {
      var search = $('#search').val();
      var patients_start = $('#patients_start').val();
      var patients_finish = $('#patients_finish').val();
      var base_url_hidden = $('#base_url_hidden').val();
      var patients_status = $('#patients_status').val();
      var ordem = $('#order').val();
        
      //alert($('#patients_download').attr('href'));
      location.href = base_url_hidden +'/admin/patients/export_xlsx?search=' + search +'&patients_start=' + patients_start + '&patients_finish=' + patients_finish + '&patients_status=' + patients_status + '&ordem=' + ordem + '&timestamp={{ timestamp }}';
      setTimeout(function() {
          location.reload();
      }, 1000);
    }
    
    //});
  </script>


  <script type="text/javascript">
    $("#search_btn").click(function(){
      var search = $('#search').val();
      var patients_start = $('#patients_start').val();
      var patients_finish = $('#patients_finish').val();
      var base_url_hidden = $('#base_url_hidden').val();
      var patients_status = $('#patients_status').val();
      var ordem = $('#order').val();
      console.log($('#search_btn').attr('href'));
      $("#search_btn").attr('href',   '{{ base_url() }}/admin/patients?search=' + search + '&page={{ 1 }}&patients_start=' + patients_start + '&patients_finish=' + patients_finish + '&patients_status=' + patients_status + '&ordem=' + ordem + '&timestamp={{ timestamp }}' );
    });
  </script>


  <script type="text/javascript">

      $(function() {
        $('form').submit(function(event){
          return checkFocus();
        });
      });
     
    function checkFocus() {
      if ($('#search').is(':focus')) {
         return false;
      }
      return true;
     }

  </script>
{% endblock %}
