{% extends "admin/layout.twig" %}
{% block html_title %}Administração - {{ parent() }}{% endblock %}
{% set nav_active = 'patients' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="active">Início</li>
</ol>
{% endblock %}

{% block content %}

<div class="main">
  <div class="row">
      <div class="col-xs-12 col-sm-3">
        <a class="btn btn-success" href="{{ base_url() }}/admin/patients/add">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo Paciente
        </a>
      </div>
      <div class="col-sm-9">
        <div class="card">
          <div class="card-header" data-background-color="purple">
            Relatório
          </div>
          <div class="card-content" style="padding-top:5px;">
            <div class="col-sm-2">
              <div class="form-group">
                <label for="id">Status Paciente</label>
                <select name="patients_status" id="patients_status">
                  <option value="0">Todos</option>
                  {% for status in patient_status %}
                    <option value="{{ status.id }}" >{{ status.name }}</option>

                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="patient_name">Data Inicial</label>
                <input id="patients_start" class="form-control" type="date" name="patients_start" required>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="patient_name">Data Final</label>
                <input id="patients_finish" class="form-control" type="date" name="patients_finish" value="{{ today }}"  required>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <a class="btn btn-default" id="patients_download" name="patients_download"  href="{{ base_url() }}/admin/patients/export" target="_blank">
                  <input type="hidden" name="" value="{{ base_url() }}" id="base_url_hidden">
                  Relatório
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  <div class="card">
    <div class="card-header" data-background-color="blue">
      <div class="row">
        <div class="col-sm-8">
          <h4>Pacientes Cadastrados</h4>
        </div>
        <div class="col-sm-4"> 
          Buscar
          <input type="search" id="search" name="search" style="border-radius: 5px; color: #444">
            <a class="btn btn-primary" href="" id="search_btn">
              <i class="material-icons">search</i>
            </a>
        </div>
      </div>
    </div>
    <div class="card-content">
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-striped data-table">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>CID Versão</th>
                <th>CID COD</th>
                <th>Cidade</th>
                <th class="th-button"></th>
                <th class="th-button"></th>
                <th class="th-button"></th>
                
              </tr>
            </thead>

            <tbody>
              {% for patient in patients %}
                <tr>
                  <td>{{ patient.name }}</td>
                  <td>{{ patient.email }}</td>
                  <td>{{ patient.disease_cid_version }}</td>
                  <td>{{ patient.disease_cid_code }}</td>
                  <td>{{ patient.end_cidade }}</td>
                  <td>{{ patient.status }}</td>
                  <td style="width:100px"><a class="btn btn-info" href="{{ base_url() }}/admin/patients/history/{{ patient.id }}">
                    Histórico
                  </a></td>
                  <td style="width:100px"><a class="btn btn-default" href="{{ base_url() }}/admin/patients/edit/{{ patient.id }}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                  </a></td>
                 {# <td style="width:100px"><a class="btn btn-danger" href="{{ base_url() }}/admin/patients/remove/{{ patient.id }}">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  </a></td>
                </tr>#}
              {% else %}
                <div class="alert alert-danger" role="alert">Não existem pacientes cadastrados</div>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <ul class="pager">
            <li{% if page == 1 %} class="disabled"{% endif %}>
              <a{% if page > 1 %} href="{{ base_url() }}/admin/patients?search={{ search }}&page={{ page - 1 }}"{% endif %}>Anterior</a>
            </li>
            <li{% if page >= amountPages %} class="disabled"{% endif %}>
              <a{% if page < amountPages %} href="{{ base_url() }}/admin/patients?search={{ search }}&page={{ page + 1 }}"{% endif %}>Próximo</a>
            </li>
          </ul>
        </div>
      </div>


    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}


  <script type="text/javascript">
      $("#patients_download").click(function(){
       // console.log('teste');
      var patients_start = $('#patients_start').val();
       var patients_finish =$('#patients_finish').val();
       var base_url_hidden =$('#base_url_hidden').val();
       var patients_status = $('#patients_status').val();
       
          console.log($('#patients_download').attr('href'));
          $("#patients_download").attr('href',   base_url_hidden +'/admin/patients/export?patients_start=' + patients_start + '&patients_finish=' + patients_finish + '&patients_status=' + patients_status);
});
        </script>


        <script type="text/javascript">
      $("#search_btn").click(function(){
      var search = $('#search').val();
          console.log($('#search_btn').attr('href'));
          $("#search_btn").attr('href',   '{{ base_url() }}/admin/patients?search=' + search + '&page={{ 1 }}');
        });
        </script>


  <script type="text/javascript">

      $(function() {
        $('form').submit(function(event){
          return checkFocus();
        });
      });
     
    function checkFocus() {
      if ($('#search').is(':focus')) {
         return false;
      }
      return true;
     }

  </script>
{% endblock %}
