{% extends "admin/layout.twig" %}
{% block html_title %}Produtos - Administração - {{ parent() }}{% endblock %}
{% set nav_active = 'role' %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ base_url() }}/admin">Início</a></li>
  <li><a href="{{ base_url() }}/admin/products">Produtos</a></li>
  <li class="active">Editar</li>
  <li>{{ products.name }}</li>
</ol>
{% endblock %}
{% block content %}

<div class="card">
  <div class="card-header" data-background-color="blue">
    <div class="row">
      <div class="col-xs-12">
        <h3>Editar Produto</h3>
      </div>
    </div>
  </div>
  <div class="card-content">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <form role="form" data-toggle="validator" action="{{ base_url() }}/admin/products/update" method="POST">
        <input type="hidden" name="id" value="{{ products.id }}">

        <div class="form-group">
            <label for="name">Nome:</label>
            <input class="form-control" id="name" type="text" name="name" placeholder="Nome" autofocus required value="{{ products.name }}">

          </div>
          <div class="form-group">
            <label for="description">Descrição:</label>
            <input id="description" class="form-control" type="text" name="description" placeholder="Descrição" required value="{{ products.description }}">
          </div>

          

          <div class="row">
                 <div class="col-sm-12">
                   <div class="form-group">
                     <label for="name">Fornecedor:</label>
                <select class="form-control" id="selectSupplier" name="id_supplier" required>
                  {% for id_suppliers in id_supplier %}
                    {% if id_suppliers.id == products.id_supplier %}
                      <option value="{{ id_suppliers.id }}" selected>{{ id_suppliers.name }}
                      </option>
                    {% else %}
                      <option value="{{ id_suppliers.id }}">{{ id_suppliers.name }}
                      </option>
                    {% endif %}
                  {% endfor %}
                </select>
                   </div>
                 </div>
               </div>



               <div class="row">
                 <div class="col-sm-12">
                   <div class="form-group">
                     <label for="name">Categoria do Produto:</label>
                <select class="form-control" id="selectProductsType" name="id_products_type" required>
                  {% for products_type in products_type %}
                    {% if products_type.id == products.category %}
                      <option value="{{ products_type.id }}" selected>{{ products_type.name }}
                      </option>
                    {% else %}
                      <option value="{{ products_type.id }}">{{ products_type.name }}
                      </option>
                    {% endif %}
                  {% endfor %}
                </select>
                   </div>
                 </div>
               </div>
          
          <div class="row">
            <div class="col-sm-10">
            

              <div class="form-group">
            <label for="patrimony">Código Patrimonial:</label>
            <input id="patrimony" class="form-control" type="text" name="patrimony" placeholder="Descrição" required value="{{ products.patrimony }}">
          </div>
          </div>
        


          {# <div class=" col-sm-2 form-group">
              <label for="quantity">Quantidade</label>
              <input type="number" class="form-control" id="inputQuantity" name="quantity" placeholder="">
            </div>
          </div> #}

        <button type="submit" class="btn btn-primary">Atualizar</button>
      </form>
      </div>
    </div>
  </div>
</div>




{% endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
{% endblock %}
