{% extends "admin/layout.twig" %}
{% block html_title %}Produtos - Administração - {{ parent() }}{% endblock %}
{% set nav_active = 'products' %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ base_url() }}/admin">Início</a></li>
  <li><a href="{{ base_url() }}/admin/products">Produtos</a></li>
  <li class="active">Histórico</li>
  <li >{{ products.name }}</li>
</ol>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header" data-background-color="blue">
        <div class="row">
          <div class="col-sm-8">
          <h3>Histórico de Produtos - {{ products.name }}</h3>
        </div>
        <div class="col-sm-4">
          <p class="pull-right">
          <input type="hidden" name="" value="{{ base_url() }}" id="base_url_hidden">
          <a class="btn btn-default" id="products_download" name="products_download"  href="{{ base_url() }}/admin/products/export_history?id={{ products.id }}"  target="_blank">

              Exportar Relatório
            </a>

          </p>
        </div>
      </div>
    </div>
    <div class="card-content">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped data-table">
            <thead>
              <th>Data</th>
              <th>Tipo</th>
              <th>qtd</th>
              <th>Custo Unitário</th>
              <th>Fornecedor/Paciente</th>
            </thead>
            <tbody>
              {% for event_log in event_logs %}
                <tr>
                  <td>{{ event_log.date }}</td>
                  <td>{{ event_log.event_log_types_name }}</td>
                  <td>{{ event_log.quantity }}</td>
                  <td>R$ {{ event_log.cost }}</td>
                  <td>
                      {% if event_log.event_log_type == 9 %}
                          {{event_log.patient_name }}
                        {% endif %}
                      {% if event_log.event_log_type == 12 %}
                        {{event_log.suppliers_name }}
                      {% endif %}
                      {% if event_log.event_log_type == 13 %}
                        {{event_log.suppliers_name }}
                      {% endif %}
                      {% if event_log.event_log_type == 14 %}
                        {{event_log.suppliers_name }}
                      {% endif %}
                      {% if event_log.event_log_type == 15 %}
                        {{event_log.patient_name }}
                      {% endif %}
                      {% if event_log.event_log_type == 16 %}
                        {{event_log.patient_name }}
                      {% endif %}
                  </td>
                </tr>
              {% else %}
                <div class="alert alert-danger" role="alert">Não foram encontrados eventos para este produto.</div>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>



{% endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

<script src="{{ base_url() }}/js/jquery.mask.js"></script>


<script type="text/javascript">

$('#inputCpf').mask('000.000.000-00', {reverse: true});
$('#inputCep').mask('00000-000');
</script>

{% endblock %}
