{% extends "admin/layout.twig" %}
{% block html_title %}Produtos - Administração - {{ parent() }}{% endblock %}
{% set nav_active = 'products' %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ base_url() }}/admin">Início</a></li>
  <li><a href="{{ base_url() }}/admin/products">Produtos</a></li>
  <li class="active">Histórico</li>
  <li >{{ products.name }}</li>
</ol>
{% endblock %}
{% block content %}
<div class="col-sm-9 pull-right">
  <div class="card">
    <div class="card-header" data-background-color="purple">
      Relatório
    </div>
    <div class="card-content pull-right" style="padding-top:5px;">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="history_date">Data Inicial</label>
          <input id="history_start" class="form-control" type="date" name="history_start" required>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="history_date">Data Final</label>
          <input id="history_finish" class="form-control" type="date" name="history_finish" value="{{ today }}"  required>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <input type="hidden" name="" value="{{ base_url() }}" id="base_url_hidden">
          <a class="btn btn-default" id="products_download" name="products_download"  href="{{ base_url() }}/admin/products/export_history?id={{ products.id }}"  target="_blank">

              Exportar Relatório
            </a>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header" data-background-color="blue">
        <div class="row">
          <div class="col-sm-7">
          <h3>Histórico - {{ products.name }}</h3>
        </div>
        <div class="col-sm-5">
            <div class="form-group" style="margin-top:0px; margin-bottom:0px; float:right;">
              <label for="id_status" style="color: #ffff">Ordenar</label>
              <select name="search" id="search" style="border-radius: 5px; color: #444">
                <option value="1" {% if search == '1' %} selected {% endif %}>Cadastro - Crescente</option>
                <option value="2" {% if search == '2' %} selected {% endif %}>Cadastro - Descrescente</option>
                <option value="3" {% if search == '3' %} selected {% endif %}>Remessa - Crescente</option>
                <option value="4" {% if search == '4' %} selected {% endif %}>Remessa - Descrescente</option>
              </select>

                <a class="btn btn-primary" href="" id="search_btn">
                  <i class="material-icons">search</i>
                </a>

            </div>
          </div>
      </div>
    </div>
    <div class="card-content">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped data-table">
            <thead>
              <th>Data de Remessa</th>
              <th>Data de Cadastro</th>
              <th>Tipo</th>
              <th>qtd</th>
              <th>Custo Unitário</th>
              <th>Fornecedor/Paciente</th>
            </thead>
            <tbody>
              {% for event_log in event_logs %}
                <tr>
                  {% if event_log.id_remessa != false %}
                  <td><center>{{ event_log.data_remessa }}</center></td>{% else %}
                    <td><center>- - - -</center></td>
                {% endif %}
                  <td>{{ event_log.date }}</td>
                  <td>{{ event_log.event_log_types_name }}</td>
                  <td>{{ event_log.quantity }}</td>
                  <td>R$ {{ event_log.cost }}</td>
                  <td>
                      {% if event_log.event_log_type == 9 %}
                          {{event_log.patient_name }}
                      {% elseif event_log.event_log_type == 12 %}
                        {{event_log.suppliers_name }}
                      {% elseif event_log.event_log_type == 13 %}
                        {{event_log.suppliers_name }}
                      {% elseif event_log.event_log_type == 14 %}
                        {{event_log.suppliers_name }}
                      {% elseif event_log.event_log_type == 15 %}
                        {{event_log.patient_name }}
                      {% elseif event_log.event_log_type == 16 %}
                        {{event_log.patient_name }}
                      {% else  %}
                        - - - -
                      {% endif %}
                  </td>
                </tr>
              {% else %}
                <div class="alert alert-danger" role="alert">Não foram encontrados eventos para este produto.</div>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>



{% endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

<script src="{{ base_url() }}/js/jquery.mask.js"></script>


<script type="text/javascript">

$('#inputCpf').mask('000.000.000-00', {reverse: true});
$('#inputCep').mask('00000-000');
</script>

<script type="text/javascript">
  $("#products_download").click(function(){
   // console.log('teste');
  var history_start = $('#history_start').val();
  var history_finish =$('#history_finish').val();
  var base_url_hidden =$('#base_url_hidden').val();
  var search = $('#search').val();

      console.log($('#products_download').attr('href'));
      $("#products_download").attr('href',   base_url_hidden +'/admin/products/export_history?id={{ products.id }}' + '&history_start=' + history_start + '&history_finish=' + history_finish +'&search=' + search);
  });

  $("#search_btn").click(function(){
      var search = $('#search').val();
      $("#search_btn").attr('href',   '{{ base_url() }}/admin/products/history/{{ products.id }}?search=' + search);
    });
  </script>

{% endblock %}
