{% extends "admin/layout.twig" %}
{% block html_title %}Entrada de Estoque - Administração - {{ parent() }}{% endblock %}
{% set nav_active = 'products' %}
{% block breadcrumbs %}



{#<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    var availableTags = ["{{ base_url() }}/admin/products/add"];
    $( 'products.name' ).autocomplete({
      source: availableTags
    });
  } );
  </script>
</head>#}

<ol class="breadcrumb">
  <li><a href="{{ base_url() }}/admin">Início</a></li>

  <li class="active">Adicionar</li>
   <li>{{ products.name }}</li>
</ol>
{% endblock %}

{% block content %}
  <form role="form" onSubmit="submitTabela()" data-toggle="validator" action="{{ base_url() }}/admin/remessa/add" method="POST">
<div class="row">
  <div class="col-sm-12">
    <div class=" card">
      <div class="card-header" data-background-color="blue">
        <div class="row">
          <div class="col-xs-12">
            <h3>Entrada de Estoque</h3>
          </div>
        </div>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col-md-12">
           {# <form role="form" data-toggle="validator" action="{{ base_url() }}/admin/remessa/add" method="POST">#}
              <p>Tela para cadastrar entradas no estoque.</p>
              <input type="hidden" name="id" value="{{ products.id }}">
              <div class="row" >
                 <div class="col-sm-12">
                   <div class="form-group">
                     <label for="name">Tipo de Entrada:</label>
                     <div class="ui-widget">
                       <select class="form-control" id="selectRemessaType" name="id_remessa_type">
                         {% for remessaType in remessaTypes %}
                            <option value="{{ remessaType.id }}">{{ remessaType.name }}</option>
                         {% endfor %}
                       </select>
                     </div>
                   </div>
                 </div>
               </div>
              {#<div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                  <label for="name">Produto:</label>
                    <div class="ui-widget" >
                      <input class="form-control" id="input_id_product" type="text" name="id_product" placeholder="Nome" autofocus required >
                      <div id="campo_login"> </div>
                    </div>
                  </div>
                </div>
               </div>#}

               <div class="row" id="patients_select">
                 <div class="col-sm-12">
                   <div class="form-group">
                     <label for="name">Paciente:</label>
                     <div class="ui-widget">
                       <select class="form-control" id="selectPatient" name="patient_id">
                         {% for patient in patients %}
                            <option value="{{ patient.id }}">{{ patient.name }}</option>
                         {% endfor %}
                       </select>
                     </div>
                   </div>
                 </div>
               </div>


               <div class="row" id="suppliers_select">
                <div class="col-sm-12">
                  <div class="form-group">
                  <label for="name">Fornecedor:</label>
                    <div class="ui-widget" >
                      <input class="form-control" id="input_suppliers" type="text" name="suppliers" placeholder="Nome" >
                      <div id="campo_login_fornecedor"> </div>
                    </div>
                  </div>
                </div>
               </div>
               {#<div class="row">
                 <div class=" col-sm-2 form-group">
                   <label for="quantity">Quantidade</label>
                   <input type="number" class="form-control" id="quantity" name="quantity" placeholder="" required>
                 </div>

                 <div class=" col-sm-4 form-group">
                   <label for="cost">Custo</label>

                   <input type="money" class="form-control" id="cost" name="cost" placeholder="R$ 00,00" required/>

                 </div>

                 <div class=" col-sm-4 form-group">
                   <label for="quantity">Data de Entrada</label>
                   <input type="date" class="form-control" id="input_date" name="date" placeholder="">
                 </div>
               </div>#}
               <div class="row">
                <div class=" col-sm-4 form-group">
                  <label for="quantity">Data de Entrada</label>
                  <input type="date" class="form-control" id="input_date" name="date" placeholder="" required>
                </div>
               </div>

           {# </form>#}

          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="col-sm-12">
    <div class=" card">
      <div class="card-content">
        <div class="row">
          <div class="col-md-12">
           {# <form role="form" data-toggle="validator" action="{{ base_url() }}/admin/remessa/add" method="POST">#}
              <h4>Incluir Produtos</h4>
              <input type="hidden" name="id" value="{{ products.id }}">

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                  <label for="name">Produto:</label>
                    <div class="ui-widget" >
                      <input class="form-control" id="input_id_product" type="text" name="id_product" placeholder="Nome"  >
                      <input type="hidden" name="id_product_hidden" id="id_product_hidden" value="input_id_product">
                      <div id="campo_login"> </div>
                    </div>
                  </div>
                </div>
               </div>


               <div class="row">
                 <div class=" col-sm-3 form-group">
                   <label for="quantity">Quantidade</label>
                   <input type="number" min="0" class="form-control" id="quantity" name="quantity" placeholder="" >
                   <script type="text/javascript">
                      $('#quantity').on('change', function(){
                        var qtd = $('#quantity').val();
                        if (qtd < 0) {
                          $('#quantity').val(0);
                        }
                      });
                   </script>
                    <input type="hidden" name="quantity_hidden" id="quantity_hidden" value="quantity">
                 </div>

                 <div class=" col-sm-3 form-group">
                   <label for="cost">Custo Unitário</label>

                   <input type="money" class="form-control" id="cost" name="cost" placeholder="R$ 00,00" />
                   <input type="hidden" name="cost_hidden" id="cost_hidden" value="cost">

                 </div>

                  <div class=" col-sm-4 form-group">
                   <label for="patrimony">Código Patrimonial (opcional)</label>
                   <input type="text" class="form-control" id="patrimony" name="patrimony" placeholder="" >
                    <input type="hidden" name="patrimony_hidden" id="patrimony_hidden" value="patrimony">
                 </div>


                 {#<div class=" col-sm-4 form-group">
                   <label for="quantity">Data de Entrada</label>
                   <input type="date" class="form-control" id="input_date" name="date" placeholder="">
                 </div>#}
                 <div class="col-sm-12">
                  <p id="error-adicionar-produto-remessa"></p>
                 </div>
                  <div class="col-sm-12">
                    <p class="pull-right" style="padding-top: 25px;">
                        <button type="button" class="btn btn-primary" id="add_product">Adicionar Produto</button>
                        </a>
                    </p>
                </div>
               </div>



           {# </form> #}

          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="main">
  <div class="card">
    <div class="card-content">
      <div class="row">
        <div class="col-xs-12">
          <h4>Lista de Produtos</h4>
          <table class="table table-striped data-table">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Custo Unitário</th>
                <th>Valor Total</th>
                <th class="th-button"></th>
                <th class="th-button"></th>
              </tr>
            </thead>


             {# <script>
               // function soma()
               // {
              //    products.quantity.value = (form.quantity2.value*1) + (form.quantity.value*1)
               // }
            //  </script> #}


            <tbody id="corpo_tabela">

            </tbody>
          </table>
        </div>
      </div>






    </div>
  </div>
</div>


<input type="hidden" id="remessa_id" name="remessa_id" value="{{ id_remessa }}">
<button type"submit" value="submit" class="btn btn-primary" id="button_adicionar">Adicionar</button>

</form>
{% endblock %}
{% block javascripts %}



<script type="text/javascript">

$('#button_adicionar').on("submit",function(){
   //return false;
});


</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
{#mascara monetaria#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function() {
    $('[type=money]').maskMoney({
      thousands: '.',
      decimal: ','
    });
  });
</script>


<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<script type="text/javascript">
    $(document).ready(function() {
       var availableTags = [];

       //autcomplete
       {% for product in products %}
        availableTags.push("{{ product.id }} - {{ product.name }}");
       {% endfor %}

       $( "#input_id_product" ).autocomplete({
         source: availableTags
      });
    });
</script>


<script type="text/javascript">
    $(document).ready(function() {

      $('#patients_select').hide();
      $('#suppliers_select').hide();

      var tipo = $('#selectRemessaType').val();

      if ( (tipo == 1) || (tipo == 2) ) {
        $('#suppliers_select').show();
      }

       var availableTags = [];

       //autcomplete fornecedores
       {% for supplier in suppliers %}
        availableTags.push("{{ supplier.id }} - {{ supplier.name }}");
       {% endfor %}

       $( "#input_suppliers" ).autocomplete({
         source: availableTags
      });
    });
</script>



<script type="text/javascript">

  $('#input_id_product').on('change', function() {

    var id_product = $(this).val();
    id_product = id_product.replace(/ .*/,'');

    console.log(id_product);

    //if (Number.isInteger(id_product)) {
      $.ajax({

        url: '{{ base_url() }}/admin/remessa/consulta_produto?id='+ id_product,

        beforeSend: function(data) {
          $("#campo_login").html('');
        },

        success: function(data) {
          console.log('sucesso' + data);
          $("#campo_login").html('<p style="color:green;">Produto selecionado!</p>');
        },

        error: function(data) {
          console.log('error' + data);
          $("#input_id_product").val('');
          $("#campo_login").html('<p style="color:red;">Erro. Tente um produto válido!</p>');
        }

      });

    //}

  });

</script>


<script type="text/javascript">

  $('#input_suppliers').on('change', function() {

    var id_suppliers = $(this).val();
    id_suppliers = id_suppliers.replace(/ .*/,'');

    //console.log(id_suppliers);

    //if (Number.isInteger(id_suppliers)) {
      $.ajax({

        url: '{{ base_url() }}/admin/remessa/consulta_suppliers?id='+ id_suppliers,

        beforeSend: function(data) {
          $("#campo_login_fornecedor").html('');
        },

        success: function(data) {
          console.log('sucesso' + data);
          $("#campo_login_fornecedor").html('<p style="color:green;">Fornecedor selecionado!</p>');
        },

        error: function(data) {
          console.log('error' + data);
          $("#input_suppliers").val('');
          $("#campo_login_fornecedor").html('<p style="color:red;">Erro. Tente um fornecedor válido!</p>');
        }

      });

    //}

  });

</script>


<script type="text/javascript">

  function submitTabela() {
    var corpo_tabela = $('#corpo_tabela').html();
    //console.log(corpo_tabela);
    return false;
  }

  $(document).on('click', '#add_product', function() {


    //console.log('TEST');
    //var input_suppliers =$('#input_suppliers').val();
    var nome_produto = $('#input_id_product').val();
    var quantidade_produto = $('#quantity').val();
    var custo_produto = $('#cost').val();
    var remessa_id = $('#remessa_id').val();
    var patrimony = $('#patrimony').val();
    var custo_total = converteMoedaFloat(quantidade_produto) * converteMoedaFloat(custo_produto);


    var products_array = [
    nome_produto,
    quantidade_produto,
    custo_produto,
    remessa_id,
    patrimony,
    custo_total
    ];
    $.ajax({
      url:`{{ base_url() }}/admin/produto_remessa/add?nome_produto=${nome_produto}&quantidade_produto=${quantidade_produto}&custo_produto=${custo_produto}&remessa_id=${remessa_id}&patrimony=${patrimony}&custo_total=${custo_total}`,
      type: "GET",
      beforeSend: function (xhr) {
        if (nome_produto == '') {
            $('#input_id_product').focus();
            xhr.abort();
        }
        else if (quantidade_produto == '') {
           $('#quantity').focus();
            xhr.abort();
        }
      },

      success: function (data) {
        $('#error-adicionar-produto-remessa').html('');
         $('#corpo_tabela').append(
        `<tr><td>${nome_produto}</td>
        <td>${quantidade_produto}</td>
        <td>${custo_produto}</td>
        <td>${custo_total}</td>
        <td><input type="button" value="Excluir" class="btn btn-danger excluir_ajax"  id="${data.id}-excluir"></input></td></tr>`
        );
        $("#input_id_product").val('');
        $("#quantity").val('');
        $("#cost").val('');
        $("#patrimony").val('');
        $("#campo_login").html('');
      },
        error: function (data) {
          if (data.responseText == 1) {
            $('#error-adicionar-produto-remessa').html('O produto não pode ser vazio.');
          }
        }
    });
});

  $(document).on('click', '.excluir_ajax', function() {
    var id_produto_remessa = $(this).attr("id");
    var resultado = id_produto_remessa.substring(0, id_produto_remessa.indexOf("-"));
    // console.log(resultado);

    var tr = $(this).parent().parent();

    $.ajax({
      url:`{{ base_url() }}/admin/produto_remessa/remove/${resultado}`,
      type: "GET",


      success: function (data) {
       if (data == true) {
          console.log(tr);
          tr.remove();
        }
      },
        error: function (data) {
          console.error(data);
        }
    });
  });

 $('#selectRemessaType').on('change', function() {
   //console.log('oi mãe');
  $('#patients_select').hide();
  $('#suppliers_select').hide();
  var tipo = $('#selectRemessaType').val();
  if ( (tipo == 1) || (tipo == 2) ) {
    $('#suppliers_select').show();
  }
  if (tipo == 6) {
    $('#patients_select').show();
  }
 });

 $('#input_date').on('change', function() {
   var value = $('#input_date').val();
   var data = value.split("-");
   //console.log(data);
   data[0] = data[0].substring(0,4);
   data = data.join("-");
   $('#input_date').val(data);
 });

</script>



<script type="text/javascript">

function converteMoedaFloat(valor){

      if(valor === ""){
         valor =  0;
      }else{
         valor = valor.replace(".","");
         valor = valor.replace(",",".");
         valor = parseFloat(valor);
      }
      return valor;

   }




/*   @brief Converte um valor em formato float para uma string em formato moeda
      @param valor(float) - o valor float
      @return valor(string) - o valor em moeda
   */
   function converteFloatMoeda(valor){
      var inteiro = null, decimal = null, c = null, j = null;
      var aux = new Array();
      valor = ""+valor;
      c = valor.indexOf(".",0);
      //encontrou o ponto na string
      if(c > 0){
         //separa as partes em inteiro e decimal
         inteiro = valor.substring(0,c);
         decimal = valor.substring(c+1,valor.length);
      }else{
         inteiro = valor;
      }

      //pega a parte inteiro de 3 em 3 partes
      for (j = inteiro.length, c = 0; j > 0; j-=3, c++){
         aux[c]=inteiro.substring(j-3,j);
      }

      //percorre a string acrescentando os pontos
      inteiro = "";
      for(c = aux.length-1; c >= 0; c--){
         inteiro += aux[c]+'.';
      }
      //retirando o ultimo ponto e finalizando a parte inteiro

      inteiro = inteiro.substring(0,inteiro.length-1);

      decimal = parseInt(decimal);
      if(isNaN(decimal)){
         decimal = "00";
      }else{
         decimal = ""+decimal;
         if(decimal.length === 1){
            decimal = decimal+"0";
         }
      }


      valor = "R$ "+inteiro+","+decimal;


      return valor;

   }
</script>

{% endblock %}
