{% extends "admin/layout.twig" %}
{% block html_title %}Administração - {{ parent() }}{% endblock %}
{% set nav_active = 'remessa' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="active">Início</li>
</ol>
{% endblock %}

{% block content %}

<div class="main">
  <div class="row">
      <div class="col-xs-12 col-sm-3">
        <a class="btn btn-success" href="{{ base_url() }}/admin/remessa/add">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nova Remessa
        </a>
      </div>
      <div class="col-sm-9">
        <div class="card">
          <div class="card-header" data-background-color="purple">
            Relatório
          </div>
          <div class="card-content" style="padding-top:5px;">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="id">Tipo de Remessa</label>
                <select name="remessa_type" id="remessa_type">
                  <option value="0">Todos</option>
                  {% for type in remessa_type %}
                    <option value="{{ type.id }}" >{{ type.name }}</option>

                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="remessa_date">Data Inicial</label>
                <input id="remessa_start" class="form-control" type="date" name="remessa_start" required>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="remessa_date">Data Final</label>
                <input id="remessa_finish" class="form-control" type="date" name="remessa_finish" value="{{ today }}"  required>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <a class="btn btn-default" id="remessa_download" name="remessa_download"  href="{{ base_url() }}/admin/remessa/export" target="_blank">
                  <input type="hidden" name="" value="{{ base_url() }}" id="base_url_hidden">
                  Relatório
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  <div class="card">
    <div class="card-header" data-background-color="blue">
      <div class="row">
        <div class="col-sm-4">

          <h4>Remessas Cadastradas</h4>
        </div>
      </div>

    </div>
    <div class="card-content">
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-striped data-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Tipo de Entrada</th>
                <th>Data</th>
                
                <th class="th-button"></th>
                <th class="th-button"></th>
                <th class="th-button"></th>
                <th class="th-button"></th>
              </tr>
            </thead>

            <tbody>
              {% for remessas in remessa %}
                <tr>
                  <td>{{ remessas.id }}</td>
                  <td>{{ remessas.products_name }}</td>
                  <td>{{ remessas.quantity }}</td>
                  <td>{{ remessas.remessa_type_name }}</td>
                  <td>{{ remessas.date}} </td>
                  
                 {# <td style="width:100px"><a class="btn btn-info" href="{{ base_url() }}/admin/remessa/history/{{ remessa.id }}">
                    Histórico
                  </a></td>#}
                 
                
              {% else %}
                <div class="alert alert-danger" role="alert">Não existem remessas cadastradas</div>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <ul class="pager">
            <li{% if page == 1 %} class="disabled"{% endif %}>
              <a{% if page > 1 %} href="{{ base_url() }}/admin/remessa?page={{ page - 1 }}"{% endif %}>Anterior</a>
            </li>
            <li{% if page >= amountPages %} class="disabled"{% endif %}>
              <a{% if page < amountPages %} href="{{ base_url() }}/admin/remessa?page={{ page + 1 }}"{% endif %}>Próximo</a>
            </li>
          </ul>
        </div>
      </div>


    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}


  <script type="text/javascript">
      $("#remessa_download").click(function(){
       // console.log('teste');
      var remessa_start = $('#remessa_start').val();
       var remessa_finish =$('#remessa_finish').val();
       var base_url_hidden =$('#base_url_hidden').val();
       var remessa_type = $('#remessa_type').val();
       
          console.log($('#remessa_download').attr('href'));
          $("#remessa_download").attr('href',   base_url_hidden +'/admin/remessa/export?remessa_start=' + remessa_start + '&remessa_finish=' + remessa_finish + '&remessa_type=' + remessa_type);
});
        </script>
{% endblock %}
