{% extends "admin/layout.twig" %}
{% block html_title %} - Administração - {{ parent() }}{% endblock %}
{% set nav_active = 'remessa' %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ base_url() }}/admin">Início</a></li>
  <li><a href="{{ base_url() }}/admin/remessa">Remessa</a></li>
  <li class="active">{{ remessa.id }}</li>
</ol>
{% endblock %}
{% block content %}



{% if remessa.removido != 1 %}
  <div class="row">
    <div class="col-md-12">
      <form role="form" data-toggle="validator" action="{{ base_url() }}/admin/remessa/update" method="POST">
        <input type="hidden" name="id" value="{{ remessa.id }}">
        <ul class="list-group">
          <li class="list-group-item">Tipo de Entrada: 
            <strong>
              <select id="selectRemessaType" name="remessa_type">
              {% for remessaType in remessaTypes %}
                {% if remessa.remessa_type == remessaType.id %}
                  <option value="{{ remessaType.id }}" selected>{{ remessaType.name }}
                  </option>
                {% else %}
                  <option value="{{ remessaType.id }}">{{ remessaType.name }}
                  </option>
                {% endif %}
              {% endfor %}
              </select>
            </strong>
          </li>
          <li class="list-group-item">Paciente: <strong>
            <select id="selectPatient" name="patient_id">
                {% for patient in patients %}
                  {% if patient.id == remessa.patient_id %}
                    <option value="{{ patient.id }}" selected>{{ patient.user_name }}
                    </option>
                  {% else %}
                    <option value="{{ patient.id }}">{{ patient.user_name }}
                    </option>
                  {% endif %}
                {% endfor %}
            </select>
            <select id="suppliers_select" name="suppliers">
                  {% for supplier in suppliers %}
                    {% if remessa.suppliers == supplier.id %}
                      <option value="{{ supplier.id }}" selected>{{ supplier.name }}
                      </option>
                    {% else %}
                      <option value="{{ supplier.id }}">{{ supplier.name }}
                      </option>
                    {% endif %}
                  {% endfor %}
            </select>
          </strong>
          </li>
          <li class="list-group-item">Data de Entrada: <strong>
            <input type="date" id="date" name="date" min="1900-01-01" max="2100-01-01" value="{{ remessa.date }}">
            <span class="validity"></span>
          </strong>
          </li>
        </ul>

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="card-content">
              <div class="row">
                <div class="col-xs-12">
                  <h4>Lista de Produtos</h4>
                  <table class="table table-striped " style="border-collapse:separate;">
                    <thead>
                      <tr style="border-colapse:none;">
                        <th>Nome</th>
                        <th style="width:130px; text-align:right;">Quantidade</th>
                        <th style="width:130px; text-align:right;">Custo Unit. (R$)</th>
                        <th style="width:130px; text-align:right;">Total (R$)</th>
                        <th style="width:130px; text-align:right;">Código Patrimonial</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for product_remessa in products_remessa %}
                        <tr style="border-colapse:none;">
                          <td>{{ product_remessa.name_product }}</td>
                          <td style="text-align:right;">{{ product_remessa.quantity }}</td>
                          <td style="text-align:right;">{{ product_remessa.cost }}</td>
                          <td style="text-align:right;">{{ product_remessa.custo_total }}</td>
                          <td style="text-align:right;">{{ product_remessa.patrimony_code}}</td>
                        </tr>
                      {% endfor %}
                      <tr>
                        <td></td>
                        <td></td>
                        <td style="text-align:right; font-weight:bold;">TOTAL:</td>
                        <td style="text-align:right;">{{ total_produtos }}</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
          
        <button type="submit" class="btn btn-primary">Atualizar</button>
        {#<form  class="col-sm-2 pull-right" role="form" style="padding-right:0px" data-toggle="validator" action="{{ base_url() }}/admin/remessa_saida/remove/{{ remessa.id }}" method="POST">
        <input type="hidden" name="id" value="{{ remessa.id }}">#}
        <a href="{{ base_url() }}/admin/remessa/remove/{{ remessa.id }}" type="submit" class="btn btn-danger pull-right"  method="POST">
          Remover
        </a>
      {#</form>#}
      </form>
    </div>
  </div>
{% else %}
  <div class="row">
    <div class="col-md-12">
      <p style="color:red;">Remessa removida</p>
        <ul class="list-group">
          <li class="list-group-item">Tipo de Entrada: 
            <strong>
              {{ remessa.remessa_type_name }}
            </strong>
          </li>
          {% if remessa.remessa_type == '6' %}
            <li class="list-group-item">Paciente: <strong>
              {{ remessa.name_patient }}
            </strong>
            </li>
          {% else %}
            <li class="list-group-item">Fornecedor: <strong>
              {{ remessa.name_suppliers }}
            </strong>
            </li>
          {% endif %}
          <li class="list-group-item">Data de Entrada: <strong>
            {{ (remessa.date)|date("d/m/Y") }}
          </strong>
          </li>
        </ul>

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="card-content">
              <div class="row">
                <div class="col-xs-12">
                  <h4>Lista de Produtos</h4>
                  <table class="table table-striped " style="border-collapse:separate;">
                    <thead>
                      <tr style="border-colapse:none;">
                        <th>Nome</th>
                        <th style="width:130px; text-align:right;">Quantidade</th>
                        <th style="width:130px; text-align:right;">Custo Unit. (R$)</th>
                        <th style="width:130px; text-align:right;">Total (R$)</th>
                        <th style="width:130px; text-align:right;">Código Patrimonial</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for product_remessa in products_remessa %}
                        <tr style="border-colapse:none;">
                          <td>{{ product_remessa.name_product }}</td>
                          <td style="text-align:right;">{{ product_remessa.quantity }}</td>
                          <td style="text-align:right;">{{ product_remessa.cost }}</td>
                          <td style="text-align:right;">{{ product_remessa.custo_total }}</td>
                          <td style="text-align:right;">{{ product_remessa.patrimony_code}}</td>
                        </tr>
                      {% endfor %}
                      <tr>
                        <td></td>
                        <td></td>
                        <td style="text-align:right; font-weight:bold;">TOTAL:</td>
                        <td style="text-align:right;">{{ total_produtos }}</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
          


  </div>
{% endif %}
{% endblock %}

{% block javascripts %}



<script type="text/javascript">


var tipo = $('#selectRemessaType').val();

  if ( (tipo == 1) || (tipo == 2) ) {
    $('#suppliers_select').show();
    $('#selectPatient').hide();
  }

  if (tipo == 6) {
    $('#selectPatient').show();
    $('#suppliers_select').hide();
  }

$('#selectRemessaType').on('change', function() {
   //console.log('oi');

  $('#selectPatient').hide();
  $('#suppliers_select').hide();


  var tipo = $('#selectRemessaType').val();

  if ( (tipo == 1) || (tipo == 2) ) {
    $('#suppliers_select').show();
  }

  if (tipo == 6) {
    $('#selectPatient').show();
  }

 });
 </script>

{% endblock %}
