{% extends "admin/layout.twig" %}
{% block html_title %}Categorias de Produtos - {{ parent() }}{% endblock %}
{% set nav_active = 'role' %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ base_url() }}/admin">Início</a></li>
  <li><a href="{{ base_url() }}/admin/products_type">Cargos</a></li>
  <li class="active">{{ products_type.name }}</li>

</ol>
{% endblock %}
{% block content %}

<div class="card">
  <div class="card-header" data-background-color="blue">
    <div class="row">
      <div class="col-xs-12">
        <h3>Editar Cargo</h3>
      </div>
    </div>
  </div>
  <div class="card-content">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <form role="form" data-toggle="validator" action="{{ base_url() }}/admin/products_type/update" method="POST">
        <input type="hidden" name="id" value="{{ products_type.id }}">
        <div class="form-group">
            <label for="name">Nome:</label>
            <input class="form-control" id="name" type="text" name="name" placeholder="" title="Nome da Categoria" autofocus required value="{{ products_type.name }}">

          </div>
          <div class="form-group">
            <label for="description">Descrição:</label>
            <input id="description" class="form-control" type="text" name="description" placeholder="" required value="{{ products_type.description }}">
          </div>

         
        <button type="submit" class="btn btn-primary">Atualizar</button>
      </form>
      </div>
    </div>
  </div>
</div>




{% endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
{% endblock %}
